/*  Style Guide: 
 *    Transparent: 70% Opacity
 *    
 *    White:      #FFFFFF
 *    Grey-White: #F5F5F5
 *    Faint-Grey: #ECECEC
 *    Light-Grey: #DDDDDD
 *    Grey:       #C5C5C5
 *    Grey-Black: #4A4A4A
 *    Black:      #000000
 *    Neon-Green: #20EE82
 */
 .app {
 	position: absolute;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 }
.wallet {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}
.balance-info {
	flex: 1;
}
.load-more-button {
	margin-top: 10px;
	margin-bottom: 10px;
}
.lockscreen {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 50%;
	font-size: 18px;
	background-color: #ECECEC;
}
.lockscreen span {
	text-align: center;
}
.password-prompt {
	margin-top: 5px;
	margin-bottom: 8px;
}
.password-prompt i {
	color: #2082EE;
}
.password-prompt {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.password-prompt input {
	width: 50%;
	margin-bottom: 5px;
}
.transaction-list, .transaction-list table {
	width: 100%;
	text-align: center;
	overflow-y: auto;
}
.transaction-list table td {
	font-size: 11px;
}
.txid {
	font-family: monospace;
}
.transaction-list table th {
	font-size: 14px;
	text-align: center;
}
.transaction-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FBFBFB;
	margin: 0;
	padding: 10px;
}
.transaction-header > h2 {
	margin-top: 3px;
	margin-bottom: 3px;
}
.filter-toggle > input {
	margin-right: 5px;
}
.unconfirmed-icon {
	color: #DC0025;
}
.confirmed-icon {
	color: #2082EE;
}
.wallet-address {
	display: block;
	height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 11px;
}
.receive-prompt {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 700px;
	height: 400px;
	background-color: #ECECEC;
	padding-top: 50px;
}
.wallet-toolbar {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #4b4b4b;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 60px;
}
.balance-info {
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
}
.balance-info span {
	display: block;
	font-size: 15px;
	margin-bottom: 3px;
}

@keyframes modal-fadein {
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes modal-popin {
	from { transform: scale(0.2) }
	to { transform: scale(1) }
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;

	animation-name: modal-fadein;
	animation-duration: 0.2s;
}

.modal > * {
	animation-name: modal-popin;
	animation-duration: 0.2s;

	border-radius: 5px;
}

.sendprompt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ECECEC;
	width: 400px;
	height: 300px;
}

.backupprompt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ECECEC;
	width: 500px;
	padding: 25px 25px 25px 25px;
}
.backupprompt > .ok-button {
	margin-top: 25px;
}
.backupprompt > h3 {
	margin-top: 0;
}
.backupprompt > h4 {
	margin-bottom: 5px;
}
.sendprompt .fee-estimation {
	margin-top: 6px;
}
.sendprompt button {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
}
.sendamount, .sendaddress { 
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.sendamount h3, .sendaddress h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.sendamount input, .sendaddress input {
	width: 250px;
}

.wallet-toolbar > .wallet-button {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: center;
	width: 100px;
	cursor: pointer;
}
.wallet-toolbar > .wallet-button:hover {
	opacity: 0.5;
}
.wallet-toolbar > .wallet-button > span {
	display: block;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 12px;
	color: #f5f5f5;
}
.wallet-toolbar > .wallet-button > i {
	color: #ffffff;
}
.newwallet-dialog {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #ECECEC;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	z-index: 10;
}
.newwallet-seed, .newwallet-password {
	font-size: 24px;
}

.newwallet-password {
	background-color: #000;
}

.newwallet-password:hover {
	background-color: initial;
}

.confirmation-dialog {
	display: flex;
	padding: 10px 10px 10px 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ECECEC;
	height: 300px;
	width: 475px;
}
.seed-confirmation-form {
	display: flex;
	flex-direction: column;
}
.seed-confirmation-form input {
	text-align: center;
	margin-bottom: 3px;
	width: 300px;
}
.confirmation-dialog .confirmation-buttons {
	margin-top: 5px;
	text-align: center;
}
.seed-confirmation-error {
	margin-top: 10px;
}
.confirmation-dialog .confirmation-buttons button {
	margin-left: 5px;
	margin-right: 5px;
}
.newwallet-dialog button {
	margin-top: 20px;
}
.newwallet-dialog p {
	font-size: 18px;
}
.newwallet-dialog span {
	display: block;
	color: #000000;
}
.create-wallet-button i {
	color: #2082EE;
}
.create-wallet-button i:hover {
	color: #0085A7;
}
.create-wallet-button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
}
.new-wallet-form {
	display: flex;
	width: 75%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.new-wallet-form p {
	margin-bottom: 30px;
}
.new-wallet-form h3 {
	text-align: center;
}
.new-wallet-form-buttons {
	margin-top: 25px;
}
.new-wallet-form-buttons button {
	margin-left: 3px;
	margin-right: 3px;
}

.new-wallet-form input {
	width: 50%;
}

.recovery-status {
	width: 50%;
	height: 50%;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.change-password-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #eee;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 10px
}
.change-passowrd-buttons {
	margin-top: 15px;
}
.change-password-buttons button {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
}
.change-password-form input {
	width: 50%;
	margin-top: 8px;
	margin-bottom: 8px;
	text-indent: 10px;
}

.change-password-error {
	height: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.recovery-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #eee;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.recovery-form-buttons {
	margin-top: 15px;
}
.recovery-form-buttons button {
	margin-left: 2px;
	margin-right: 2px;
}
.recovery-form input {
	width: 50%;
}
.uninitialized-wallet-dialog {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wallet-init-buttons {
	display: flex;
}
.use-passphrase-checkbox {
	margin-top: 20px;
}
.rescan-dialog {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.aux-seeds {
	height: 180px;
	overflow-y: scroll;
}
.send-error {
	color: red;
	margin-top: 10px;
	width: 75%;
}
.generate-address-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.generate-address-button > span {
	font-size: 13px;
}
.generate-address-button > i {
	margin-left: 10px;
	cursor: pointer;
}
.receive-prompt > .footnote {
	font-size: 11px;
	margin-top: 5px;
}
.receiveprompt-dismissbtn {
	margin-top: 20px;
}
.receive-form {
	width: 80%;
}
.receive-form > .receive-form-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 25px;
}
.receive-form-item > p {
	margin-left: 5px;
	margin-right: 5px;
}
.receive-buttons {
	margin-top: 30px;
	margin-bottom: 10px;
}
.receive-buttons > button {
	margin-left: 3px;
	margin-right: 3px;
}
.done-button {
	position: absolute;
	bottom: 20px;
}
.address-table {
	display: inline-block;
	height: 150px;
	overflow: scroll;
	width: 90%; 
}
.receive-address, .address-description {
	width: 400px;
}
td {
	padding-right: 5px;
	font-size: 15px !important;
}

button{
	background-color: #2082EE;
	border: 0;
	color: white;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
}

button:hover {
	background-color: #4687CF;
}

.transaction-table thead {
	background-color: #ffffff;
}

.transaction-table {
	border: 0px;
	border-top: 1px solid #9E9E9E;
}